<!-- <h1>Off The Rails</h1> -->
<%= image_tag "v3.png", class: "logo"%>

<div class= "button-container"><%= button_to 'Create', new_post_path, method: :get, class: "create-button" %></div>

<% @posts.sort_by { |post| post.created_at }.reverse.each do |post|%>
  <div id= "post">
    <h2 class="label"><%= post.title %></h2>
    <p class ="post-date"><%= post.created_at.strftime("Posted at %H:%M%p on %e %B %Y") %></p>
    <p class ="post-content"><%= post.content %></p>
  </div>

<% end %>
